.relic-group {
    border: 3px solid #cccccc;
    border-radius: 8px;
    text-align: center;
}

.pool-grid .icon {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(clamp(60px, 10vw, 100px), 1fr));
    gap: clamp(10px, 3vw, 20px);
    justify-items: center;
}
